[Unit]
Description=ISBoard Recette
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/www/app-recette
ExecStart=/usr/bin/docker compose -f deploy/docker-compose.recette.yml --env-file .env.recette -p isboard-recette up -d
ExecStop=/usr/bin/docker compose -f deploy/docker-compose.recette.yml -p isboard-recette down
StandardOutput=journal

[Install]
WantedBy=multi-user.target
